* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #f9fbff;
}

header {
  background: linear-gradient(to right, #f9fbff 40%, #415167 60%);
}
@media (max-width: 900px) {
  header {
    background: none;
  }
}

.header__container {
  position: relative;
  display: flex;
  height: 768px;
  max-width: 1183px;
  margin: 0 auto;
  margin-bottom: 85px;
}
.header__container .header__main {
  background-image: url(../img/30072807_909538065884146_2710474531215143694_o.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  min-width: 80%;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__container .header__main .header__img {
  background-image: url(../img/revo_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: 10%;
}
@media (max-width: 830px) {
  .header__container .header__main .header__img {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .header__container .header__main .header__img {
    height: 5%;
  }
}
.header__container .header__main .header__lago {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  width: 50%;
  color: #415167;
}
.header__container .header__main .header__lago span {
  background-color: #c7a17a;
  color: #f9fbff;
  padding: 0 12px;
}
@media (max-width: 900px) {
  .header__container .header__main .header__lago {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .header__container .header__main .header__lago {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 414px) {
  .header__container .header__main .header__lago {
    font-size: 25px;
    line-height: 40px;
  }
}
@media (max-width: 320px) {
  .header__container .header__main .header__lago {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1024px) {
  .header__container .header__main {
    width: 95%;
  }
}
@media (max-width: 900px) {
  .header__container .header__main {
    background-size: 80%;
    background-position: top right;
  }
}
@media (max-width: 830px) {
  .header__container .header__main {
    justify-content: start;
    padding-bottom: 0;
  }
}
@media (max-width: 700px) {
  .header__container .header__main {
    padding-top: 30px;
    background-size: 70%;
  }
}
.header__container .header__nav {
  width: 20%;
  padding: 85px 0;
  padding-left: 57px;
  color: #f9fbff;
}
.header__container .header__nav .header__shopping {
  position: relative;
  margin-bottom: 110px;
  font-size: 18px;
}
.header__container .header__nav .header__shopping .header__base {
  position: absolute;
  left: 10px;
  top: -15px;
  background-color: #c7a17a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}
.header__container .header__nav .header__shopping:hover {
  color: #c7a17a;
}
.header__container .header__nav .header__shopping:hover .header__base {
  color: #f9fbff;
}
.header__container .header__nav .header-menu__link {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 15px 0;
  cursor: pointer;
}
.header__container .header__nav .header-menu__link:hover {
  font-weight: 700;
}
@media (max-width: 1024px) {
  .header__container .header__nav {
    position: absolute;
    display: none;
  }
}
.header__container .header__dropdown {
  position: relative;
  position: absolute;
  top: 0px;
  right: 0;
  left: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.452);
  transition: all linear 0.5s;
  opacity: 0;
}
.header__container .header__dropdown .fas {
  position: absolute;
  color: #f9fbff;
  top: 30px;
  right: 30px;
  font-size: 20px;
}
@media (max-width: 600px) {
  .header__container .header__dropdown .fas {
    top: 20;
    right: 20px;
    font-size: 18px;
  }
}
@media (max-width: 414px) {
  .header__container .header__dropdown .fas {
    top: 15px;
    right: 15px;
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .header__container .header__dropdown .fas {
    top: 10px;
    right: 10px;
    font-size: 17px;
  }
}
.header__container .header__dropdown .dropdown-container {
  margin: 60px 0 50px 0;
}
@media (max-width: 600px) {
  .header__container .header__dropdown .dropdown-container {
    margin: 50px 0 40px 0;
  }
}
@media (max-width: 414px) {
  .header__container .header__dropdown .dropdown-container {
    margin: 40px 0 30px 0;
  }
}
@media (max-width: 320px) {
  .header__container .header__dropdown .dropdown-container {
    margin: 30px 0 20px 0;
  }
}
.header__container .header__dropdown .header__item {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #f9fbff;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}
.header__container .header__dropdown .header__item:hover {
  background-color: #f9fbff7e;
  transition: all linear 0.2s;
}
@media (max-width: 600px) {
  .header__container .header__dropdown .header__item {
    padding: 10px 0;
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  .header__container .header__dropdown .header__item {
    padding: 8px 0;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .header__container .header__dropdown .header__item {
    padding: 5px 0;
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .header__container .header__dropdown {
    opacity: 1;
  }
  .header__container .header__dropdown .fas.fa-window-close {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__container {
    justify-content: flex-end;
  }
}
@media (max-width: 830px) {
  .header__container {
    height: 500px;
  }
}
@media (max-width: 700px) {
  .header__container {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .header__container {
    height: 300px;
  }
}
@media (max-width: 414px) {
  .header__container {
    height: 250px;
  }
}
@media (max-width: 320px) {
  .header__container {
    height: 200px;
  }
}

.coffee {
  max-width: 1183px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.coffee .coffee__text {
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #415167;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .coffee .coffee__text {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .coffee .coffee__text {
    font-size: 13px;
  }
}
.coffee .coffee__lago {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  margin-bottom: 70px;
}
@media (max-width: 600px) {
  .coffee .coffee__lago {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .coffee .coffee__lago {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .coffee .coffee__lago {
    font-size: 18px;
  }
}
.coffee .coffee__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coffee .coffee-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24%;
  padding: 20px 30px;
  text-align: center;
}
@media (max-width: 760px) {
  .coffee .coffee-card {
    width: 50%;
  }
}
@media (max-width: 420px) {
  .coffee .coffee-card {
    width: 100%;
  }
}
.coffee .coffee-card__img {
  margin-bottom: 45px;
}
.coffee .coffee-card__lago {
  margin-bottom: 10px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 420px) {
  .coffee .coffee-card__lago {
    font-size: 20px;
  }
}
.coffee .coffee-card__text {
  font-family: Nunito;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 760px) {
  .coffee .coffee-card__text {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .coffee .coffee-card__text {
    font-size: 14px;
  }
}

.bg-chuan {
  background: linear-gradient(to right, #415167 26%, #f9fbff 0%);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}
@media (max-width: 800px) {
  .bg-chuan {
    background: linear-gradient(to right, #415167 15%, #f9fbff 0%);
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .bg-chuan {
    background: none;
  }
}
@media (max-width: 480px) {
  .bg-chuan {
    padding: 0;
    padding-bottom: 30px;
  }
}
.bg-chuan .chuan__text {
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #415167;
  margin-bottom: 10px;
  align-self: center;
}
@media (max-width: 375px) {
  .bg-chuan .chuan__text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__text {
    margin-bottom: 5px;
    font-size: 14px;
  }
}
.bg-chuan .chuan__lago {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 70px;
  align-self: center;
  color: #415167;
}
@media (max-width: 800px) {
  .bg-chuan .chuan__lago {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .bg-chuan .chuan__lago {
    margin-bottom: 20px;
    font-size: 25px;
  }
}
@media (max-width: 414px) {
  .bg-chuan .chuan__lago {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .bg-chuan .chuan__lago {
    margin-bottom: 0;
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__lago {
    font-size: 18px;
  }
}
.bg-chuan .chuan__slider {
  position: relative;
  height: 550px;
  overflow: hidden;
}
.bg-chuan .chuan__slider .chuan-down__next {
  display: none;
  position: absolute;
  color: #f9fbff;
  background-color: #c7a17a;
  border: none;
  top: -20px;
  left: 40%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 20px;
}
@media (max-width: 600px) {
  .bg-chuan .chuan__slider .chuan-down__next {
    left: 47%;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__slider .chuan-down__next {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
.bg-chuan .chuan__slider .chuan-up__next {
  display: none;
  position: absolute;
  color: #f9fbff;
  background-color: #c7a17a;
  border: none;
  bottom: -20px;
  left: 40%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 20px;
}
@media (max-width: 600px) {
  .bg-chuan .chuan__slider .chuan-up__next {
    left: 47%;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__slider .chuan-up__next {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
.bg-chuan .chuan__slider .chuan-right {
  position: relative;
  position: absolute;
  background-color: #f9fbffe0;
  width: 10%;
  height: 100%;
  right: 0;
  z-index: 10;
}
@media (max-width: 800px) {
  .bg-chuan .chuan__slider .chuan-right {
    bottom: 0;
    width: 83.5%;
    height: 10%;
  }
  .bg-chuan .chuan__slider .chuan-right .chuan-down__next {
    display: block;
  }
  .bg-chuan .chuan__slider .chuan-right .chuan-right__next {
    display: none;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__slider .chuan-right {
    height: 5%;
  }
}
@media (max-width: 600px) {
  .bg-chuan .chuan__slider .chuan-right {
    width: 100%;
  }
}
.bg-chuan .chuan__slider .chuan-right__next {
  position: absolute;
  color: #f9fbff;
  background-color: #c7a17a;
  border: none;
  left: -10px;
  top: 48%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 20px;
}
.bg-chuan .chuan__slider .chuan-right__next:hover {
  background-color: #b88d63;
  transition: all linear 0.2s;
}
.bg-chuan .chuan__slider .chuan-left {
  display: none;
  position: relative;
  position: absolute;
  background-color: #f9fbffce;
  width: 10%;
  height: 98.5%;
  left: 0;
  z-index: 10;
}
@media (max-width: 800px) {
  .bg-chuan .chuan__slider .chuan-left {
    top: 0;
    left: 15%;
    width: 83.5%;
    height: 10%;
  }
  .bg-chuan .chuan__slider .chuan-left .chuan-up__next {
    display: block;
  }
  .bg-chuan .chuan__slider .chuan-left .chuan-left__next {
    display: none;
  }
}
@media (max-width: 600px) {
  .bg-chuan .chuan__slider .chuan-left {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__slider .chuan-left {
    height: 5%;
  }
}
.bg-chuan .chuan__slider .chuan-left__next {
  position: absolute;
  color: #f9fbff;
  background-color: #c7a17a;
  border: none;
  right: -10px;
  top: 48%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 20px;
}
.bg-chuan .chuan__slider .chuan-left__next:hover {
  background-color: #b88d63;
  transition: all linear 0.2s;
}
@media (max-width: 800px) {
  .bg-chuan .chuan__slider {
    height: 755px;
  }
}
@media (max-width: 414px) {
  .bg-chuan .chuan__slider {
    height: 700px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__slider {
    height: 500px;
  }
}
.bg-chuan .chuan__cards {
  position: absolute;
  margin-left: 130px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  transition: all ease 0.7s;
}
@media (max-width: 800px) {
  .bg-chuan .chuan__cards {
    flex-wrap: wrap;
    max-width: 570px;
    margin-top: 109px;
  }
}
@media (max-width: 650px) {
  .bg-chuan .chuan__cards {
    margin-left: 100px;
  }
}
@media (max-width: 600px) {
  .bg-chuan .chuan__cards {
    margin-left: 0px;
    justify-content: center;
    padding: 0 15px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan__cards {
    margin-top: 60px;
  }
}
.bg-chuan .chuan-row {
  display: flex;
  flex-direction: column;
}
.bg-chuan .chuan-row__card {
  display: flex;
  align-items: center;
  width: 560px;
  height: 256px;
  background: linear-gradient(to right, #edf0f5 40%, #f9fbff 0%);
  margin: 0 30px 30px 0;
  box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.089);
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card {
    background: linear-gradient(to right, #edf0f5 48%, #f9fbff 0%);
    margin: 0;
    margin-bottom: 30px;
  }
  .bg-chuan .chuan-row__card .chuan-content {
    padding: 0 10px;
  }
}
@media (max-width: 414px) {
  .bg-chuan .chuan-row__card {
    background: linear-gradient(to right, #edf0f5 50%, #f9fbff 0%);
  }
  .bg-chuan .chuan-row__card .chuan-content {
    padding: 0 5px;
  }
}
@media (max-width: 375px) {
  .bg-chuan .chuan-row__card {
    height: 210px;
    margin-bottom: 76px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan-row__card {
    height: 180px;
    margin-bottom: 30px;
  }
}
.bg-chuan .chuan-row__card img {
  width: 40%;
  height: 90%;
  margin-right: 45px;
}
@media (max-width: 700px) {
  .bg-chuan .chuan-row__card img {
    width: 45%;
    margin-right: 5px;
  }
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card img {
    margin-right: 0;
    width: 50%;
  }
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card img {
    width: 57%;
  }
}
.bg-chuan .chuan-row__card .chuan-content__price {
  margin-bottom: 10px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #c7a17a;
}
@media (max-width: 650px) {
  .bg-chuan .chuan-row__card .chuan-content__price {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card .chuan-content__price {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .bg-chuan .chuan-row__card .chuan-content__price {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan-row__card .chuan-content__price {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.bg-chuan .chuan-row__card .chuan-content__lago {
  margin-bottom: 24px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 650px) {
  .bg-chuan .chuan-row__card .chuan-content__lago {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card .chuan-content__lago {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .bg-chuan .chuan-row__card .chuan-content__lago {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan-row__card .chuan-content__lago {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.bg-chuan .chuan-row__card .chuan-content__text {
  margin-bottom: 24px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card .chuan-content__text {
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  .bg-chuan .chuan-row__card .chuan-content__text {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .bg-chuan .chuan-row__card .chuan-content__text {
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan-row__card .chuan-content__text {
    margin-bottom: 5px;
    font-size: 10px;
  }
}
.bg-chuan .chuan-row__card .chuan-button__mua {
  border: 0;
  background-color: #c7a17a;
  color: #f9fbff;
  margin-right: 29px;
  font-family: Nunito;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding: 6px 24px 5px;
  border-radius: 19px;
}
.bg-chuan .chuan-row__card .chuan-button__mua:hover {
  background-color: #b88d63;
  transition: all linear 0.2s;
}
@media (max-width: 650px) {
  .bg-chuan .chuan-row__card .chuan-button__mua {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card .chuan-button__mua {
    font-size: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 414px) {
  .bg-chuan .chuan-row__card .chuan-button__mua {
    font-size: 8px;
    margin-right: 5px;
  }
}
@media (max-width: 375px) {
  .bg-chuan .chuan-row__card .chuan-button__mua {
    margin-right: 0;
    padding: 4px 18px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan-row__card .chuan-button__mua {
    padding: 3px 16px;
    font-size: 7px;
  }
}
.bg-chuan .chuan-row__card .chuan-button__chi {
  border: 0;
  color: #415167;
  font-family: Nunito;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  background: none;
}
.bg-chuan .chuan-row__card .chuan-button__chi:hover {
  color: black;
  transition: all linear 0.2s;
}
@media (max-width: 650px) {
  .bg-chuan .chuan-row__card .chuan-button__chi {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .bg-chuan .chuan-row__card .chuan-button__chi {
    font-size: 10px;
  }
}
@media (max-width: 414px) {
  .bg-chuan .chuan-row__card .chuan-button__chi {
    font-size: 8px;
  }
}
@media (max-width: 320px) {
  .bg-chuan .chuan-row__card .chuan-button__chi {
    font-size: 7px;
    padding: 1px 4px;
  }
}
@media (max-width: 800px) {
  .bg-chuan .chuan-row__card {
    width: 100%;
  }
}